@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

Witaj na dashboardzie - tutaj w przyszłości będziesz widział Twoje wydarzenia oraz mógł dodawać nowe.